nav{
    display: flex;
    background-color:rgb(181, 233, 233);
    justify-content: space-between;
    position:fixed;
    width:100%;
    img{
        //font-size: 2rem;
        margin-left: 10px;
        height:50px;
        width:50px;
        //color:$teritary-color
        
    }
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        li{
            margin-right:10px;
            font-size: 1.5rem;
            
            a{
                text-decoration: none;
                color:$primary-color;
                &:hover{
                    color:orange;
                };
            }
        }
    }
}